// A dropdown menu is a toggleable menu that allows the user to choose one value from a predefined list
//
// If you want the dropdown__list to push the content below instead of being over it, add the 'dropdown__list--pos-static' class to the .dropdown.
//
/*

    <div class="dropdown js-dropdown">
     <a class="dropdown__btn js-dropdown-btn" href="javascript:void(0)">Dropdown name<i class="dropdown__caret fa fa-caret-down" aria-hidden="true"></i></a>
         <ul class="dropdown__list js-dropdown-list">
             <li class="dropdown__list-item">
                <a href="#">Option name</a>
             </li>
             <li class="dropdown__list-item">
                <a href="#">Option name</a>
             </li>
         </ul>
     </div>

*/
.dropdown {
    $block: &;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 10em;
        border: solid 1px #dedede;
        padding: 0.75em;
        background-color: #dedede;
        text-decoration: none;
        color: black;
        &:after {
            content: '\f0d7';
            font-family: FontAwesome, sans-serif;
        }
    }
    &__list {
        position: absolute;
        display: none;
        width: 100%;
        border: solid 1px #dedede;
        border-top: none;
        #{$block}--has-pos-static-list & {
            position: static;
        }
    }
    &__list-item {
        background-color: white;
        & + #{&} {
            border-top: solid 1px #dedede;
        }
        & > * {
            display: block;
            padding: 1em;
            cursor: pointer;
        }
    }
    &__list-item-link {
        display: block;
        padding: 0.75em;
        background-color: white;
        text-decoration: none;
        color: black;
    }
}
