// A navigation bar is a navigation header that is placed at the top of the page.

/*

    <div class="navbar js-navbar" data-slide-speed="500">
			<div class="navbar__mobile-container grid grid--justify-space-between grid--align-center hidden-md-up">
				<h3 class="navbar__mobile-container-header">Template</h3>
				<div class="navbar__hamburger js-hamburger">
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
				</div>
			</div>
			<div class="navbar__container grid grid--justify-space-between grid--align-center hidden-sm-down js-navbar-container">
				<div class="navbar__section">
					<ul class="navbar__list grid grid--justify-start">
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 1</a>
						</li>
					</ul>
				</div>
				<div class="navbar__section">
					<ul class="navbar__list grid grid--justify-end">
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 4</a>
						</li>
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 5</a>
						</li>
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 6</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

*/

.navbar {
    font-size: 1rem;
    &--position-fixed {
        position: fixed;
        width: 100%;
    }
    &__container {
        @media screen and (max-width: map_get($breakpoints-max, sm)) {
            flex-direction: column;
        }
    }
    &__mobile-container {
        padding: 1em;
        background-color: lightblue;
        &-header {
            font-size: 1.5em;
            color: white;
        }
    }
    &__list {
        @media screen and (max-width: map_get($breakpoints-max, sm)) {
            flex-direction: column;
        }
    }
    &__item-link {
        display: block;
        padding: 1em;
        color: black;
        text-decoration: none;
        text-align: center;
        transition: background-color map_get($transitions-times, normal);
        &:hover {
            background-color: #bfbfbf;
        }
        @media screen and (max-width: map_get($breakpoints-max, sm)) {
            text-align: left;
        }
    }
    &__hamburger {
        $hamburger: &;
        position: relative;
        width: 2em;
        height: 2em;
        cursor: pointer;
        &-line {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 0.35em;
            background: white;
            border-radius: 9px;
            opacity: 1;
            transform: rotate(0deg);
            transition: all map_get($transitions-times, normal) ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(4) {
                bottom: 0;
            }
        }
        &.is-opened {
            #{$hamburger}-line {
                &:nth-child(1) {
                    top: 50%;
                    left: 50%;
                    width: 0;
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    bottom: 50%;
                    left: 50%;
                    width: 0;
                }
            }
        }
    }
}